[2016-07-05 22:08] vsoch opened #1 "lighter, more user friendly syntax highlighting"

[2016-07-06 22:52] vsoch commented on #1
fixed, and styles /colors can be tweaked as necessary.

[2016-07-06 22:52] #1 closed, assigned to nobody

[2016-07-06 22:52] vsoch opened #2 "feedback: logo should be more symmetric"
Maintaining the "channel opening pokeball" feeling :)

[2016-09-23 23:37] vsoch commented on #2
new logo!

[2016-09-23 23:37] #2 closed, assigned to nobody

[2016-09-23 23:38] vsoch opened #4 "update and add new site, with docs, asciinema, etc."

[2016-09-24 23:05] vsoch opened #5 "TODO: get list of research clusters using singularity"
add to docs-hpc list

[2016-09-24 23:05] vsoch opened #6 "TODO: add ascinema"
once posted, make list with @gmkurtzer, record, and add.

[2016-09-24 23:06] vsoch opened #7 "TODO: add publications, news, etc."
this will be under "news" as a "_post" item to be rendered automatically to "news" feed

[2016-09-24 23:06] vsoch opened #8 "TODO: add release notes to all releases"
we will need to have a markdown doc under _posts/releases for each release, and include any notes with it.

[2016-09-25 01:12] vsoch opened #9 "tags: create list of acceptable, along with tag archive"
- generate list of acceptable
- add tag archive (so user can click and see pages associated with tag)
- add tags to current content to help organize

[2016-09-25 02:44] vsoch opened #11 "add disqus board"
all is setup, I just forgot to add. Oups.

[2016-09-25 02:50] #11 closed, assigned to nobody

[2016-09-25 15:41] vsoch opened #12 "release pages should have download links too"

[2016-09-25 15:41] #8 closed, assigned to nobody

[2016-09-26 00:38] vsoch commented on #7
added.

[2016-09-26 00:38] #7 closed, assigned to nobody

[2016-09-26 00:39] vsoch commented on #5
I've added the two that were featured in the google group, we can just update this as we learn of more.

[2016-09-26 00:39] #5 closed, assigned to nobody

[2016-09-26 01:00] vsoch commented on #9
this is way too annoying to make it worthwhile - the tag pages need to be created manually! If we need some specific tags in the future I can implement,but closing for now.

[2016-09-26 01:00] #9 closed, assigned to nobody

[2016-09-26 01:46] #12 closed, assigned to nobody

[2016-09-26 01:48] vsoch opened #13 "Docker Hub email on site (for avatar) should link to singularity email"
@gmkurtzer send me the email alias when it's done, I can generate gravatar account and link to Docker Hub.

[2016-09-28 21:45] vsoch opened #14 "docs should have fixed sidebar"

[2016-09-28 21:45] vsoch opened #15 "docs should have previous / next buttons"

[2016-09-28 22:09] #15 closed, assigned to nobody

[2016-10-10 05:03] vsoch opened #17 "favicon feedback"
from Rick:

bump the size on the favicon, maybe use transparency. Looks blocky on a Retina display. If you want to go all-out use https://github.com/audreyr/favicon-cheat-sheet

Thanks! We have most of the files for that, just didn't do anything with them :)

[2016-10-10 07:01] verdurin opened #18 "Numbering in welcome section"
The numbering of the paragraphs in the section [http://singularity.lbl.gov/user-guide#welcome-to-singularity](http://singularity.lbl.gov/user-guide#welcome-to-singularity) needs to be fixed so that they're not all the same.

[2016-10-10 08:18] vsoch commented on #18
Take a look now - is the issue fixed?

[2016-10-10 10:44] verdurin commented on #18
Yes, that looks much nice now, thanks.

[2016-10-10 10:44] #18 closed, assigned to nobody

[2016-10-11 01:32] aculich opened #19 "broken link to /security in faq"
The page `/security` seems to no longer exist, but is still referred to from:

https://github.com/singularityware/singularityware.github.io/edit/master/pages/docs/overview/faq.md#L228

[2016-10-11 02:27] #19 closed, assigned to nobody

[2016-10-11 02:27] vsoch commented on #19
Thanks!

[2016-11-10 12:25] markeganfuller opened #29 "Incorrect usage of --size"
The argument `--size` is used with an equals sign [here](https://github.com/singularityware/singularityware.github.io/commit/b24ee749199bbc1facb82ccce2a50f13e2951c9d#diff-63b5753f9cafbb786d8866b201a634bbR20)

[code]
This fails, but without the equals sign will work:

[code]

The rest of the documentation has the functional version already so I assume it's intended behavior and just a documentaino

[2016-11-10 16:20] #29 closed, assigned to nobody

[2016-11-28 23:58] chrisgorgo opened #31 "[idea]: graphical representation of the Singularity workflow"
I like[ this figure made for Shifter](https://tin6150.github.io/psg/blogger_container_hpc.html#shifter_workflow). It would be very useful for new users to see something like this for Singularity (could be even on the landing page). Especially explaining different ways of making Singularity images (bootstrap from spec (linux), bootstrap from docker hub (linux), docker2singularity (linux, mac, windo

[2016-11-29 00:03] vsoch commented on #31
Yes, this is a great idea! Definitely will get something in the works! Do you have a project / paper that you are looking to put the figure in, in other words, a deadline?

[2016-11-29 01:43] chrisgorgo commented on #31
Oh I don't need it personally - I just thought it would be beneficial for the Singularity project.

[2016-11-29 01:49] vsoch commented on #31
yes it would! Thanks :O)

[2016-12-06 00:44] chrisreidy opened #33 "Trying to replicate docker / tensorflow example"
Hi
I am trying to replicate this:
http://singularity.lbl.gov/docs-docker
because I have use cases for docker and separate use cases for tensorflow.
Whether I use singularity bootstrap, exec or import against docker://tensorflow/tensorflow:latest
I get:
Error getting tags using url https://registry-1.docker.io/v2/tensorflow/tensorflow/tags/list
On my Mac Docker app, I can run "docker pull tensorflo

[2016-12-06 01:12] vsoch commented on #33
What version of singularity are you using? We had a bug in an older version that would produce this. Could you install the current master and try again?

[2016-12-06 17:41] chrisreidy commented on #33
I am using 2.2.  The tarball is dated October 24

[2016-12-06 20:58] vsoch commented on #33
I would install the version from master and try again - the bug that was fixed was in November I believe!

[2016-12-06 22:05] chrisreidy commented on #33
I tried installing the latest from git and get this error:
singularity create -s 4000 docker-tf.img
Creating a new image with a maximum size of 4000MiB...
Executing image create helper
/cm/shared/apps/singularity/2.2/libexec/singularity/simage: symbol lookup error: /cm/shared/apps/singularity/2.2/libexec/singularity/simage: undefined symbol: singularity_image_bind

So I reinstalled the 2.2 version

[2016-12-06 22:13] vsoch commented on #33
Hey @chrisreidy could you post this on the [singularity issues board](https://github.com/singularityware/singularity/issues)? This one is for the docs site, and the other board will get direct attention of all developers.

[2016-12-06 22:19] chrisreidy commented on #33
Reposted to Issues board

[2016-12-06 22:19] #33 closed, assigned to nobody

[2016-12-06 22:21] vsoch commented on #33
Thank you!

[2016-12-06 22:22] vsoch commented on #33
https://github.com/singularityware/singularity/issues/393

[2016-12-10 16:56] GodloveD commented on #6
I've created ~5 asciinema jsons and I have them displayed on the hpc.nih website at the link below (you have to expand the drop-downs to see them).  I would be happy to share any or all of these if they would be helpful.  I would also not mind creating new ones if you have a particular thing in mind that you want to demo.
https://hpc.nih.gov/apps/singularity.html

[2016-12-10 20:21] vsoch commented on #6
Those docs are gorgeous! I'd love to include the asciinema on the main site, are you concerned about versions / keeping them in sync? If so, it would also be ok to link to your docs, and even if we have the asciinema on both sites, maybe do that anyway.

[2016-12-10 20:58] GodloveD commented on #6
Thanks!  If you are interested in using the asciicasts you are welcome to
them.  I'll let you decide if you want to link to them or just copy them to
your site.  We opted to host them locally rather than linking to
asciinema.org so that we aren't dependent on a third party.  Once you
decide how you'd like to proceed let me know if there's anything I can do
to help.

On Sat, Dec 10, 2016 at 3:21 PM

[2016-12-10 21:36] vsoch commented on #6
I've never used asciinema, so I'd be ok to go with your suggestion. My gut is saying that we would want these resources to be linked, so the link is most appropriate because:

   - in the case you update (and link changes), ours is broken, and we are triggered to update it
   - in the case you update (and link is preserved), ours gets updated in line

And in this case, I can offer to contribute to

[2016-12-12 19:15] vsoch opened #38 "continuous integration to preview site"

[2016-12-14 19:18] vsoch opened #40 "Search metadata"
Add search metadata and register site so users can more easily find specific docs via google search

[2016-12-15 23:58] #40 closed, assigned to nobody

[2016-12-15 23:58] #38 closed, assigned to nobody

[2016-12-15 23:58] vsoch commented on #14
Don't think this is important, seems ok as is.

[2016-12-15 23:58] #14 closed, assigned to nobody

[2016-12-16 09:49] serious-steve opened #42 "update info wrt singularity-hub"
In the 'Quick Links' section there's a dead link in https://github.com/singularityware/singularity-hub.

Files affected:

_data/topnav.yml (Remove/Replace external link to singularity-hub)
_site/docs-hpc.html (Info about what is singularity, needs update maybe, or removal?)

[2016-12-16 09:59] vsoch commented on #42
Thanks for the catch! The code base has been made private, in case there are security issues. The singularity hub release should be in the next couple of months, so for now we can remove the link to the repo.

[2016-12-16 16:31] #42 closed, assigned to nobody

[2016-12-19 21:43] GodloveD commented on #6
I [forked the repo](https://github.com/GodloveD/singularityware.github.io) and made a branch called asciinema_integration.  It's just a proof of concept.  The basic idea is that you copy the .css and .js files from [this repo](https://github.com/asciinema/asciinema-player/releases) into assets and then make a script tag with src="asciicast" (where asciicast is a .json).  There's probably some jeky

[2017-01-07 02:11] kmwf opened #49 "link in need of attention"
The "get started" link on http://singularity.lbl.gov/about leads to
http://singularity.lbl.gov/start which
leads to "Page Not Found".
<http://singularity.lbl.gov/start>

[2017-01-07 02:16] #49 closed, assigned to nobody

[2017-01-07 02:16] vsoch commented on #49
Thanks!

[2017-01-07 02:17] vsoch commented on #49
and so happy that you read all the way to the bottom, lol :wink:

[2017-02-06 07:48] serious-steve commented on #42
Please remove the leading `www` in the link. It resolves but results in a certificate mismatch error in firefox. The direct link https://singularity-hub.org/faq has no problem with the certificate though.

[2017-02-20 22:03] vsoch opened #54 "update singularity version in installation instructions"
from the list:

      http://singularity.lbl.gov/install-linux still uses VERSION=2.2 in the
      installation instructions.

[2017-02-20 22:06] #54 closed, assigned to vsoch

[2017-03-20 15:14] TormodLandet opened #56 "Documentation points to non secure Singularity hub"
The web page http://singularity.lbl.gov/singularity-tutorial points to https://www.singularity-hub.org/ which is not working due to certificate issues. It turns out that  https://singularity-hub.org/ does work (without the www), so this is probably a configuration issue, or they intended for no one to use the www prefix.

It is of course important to not request certificate security exceptions for

[2017-03-20 17:00] vsoch commented on #56
Hey @TormodLandet ! Thanks for your remarks. We do have an issue board for singularity hub, and this particular issue is [well known](https://github.com/singularityhub/singularityhub.github.io/issues/2). It is for the exact reasons of security that I don't publicly release the guts of Singularity Hub, but have provided the board for fixing issues.

The "them" you refer to is just me - I created an

[2017-03-20 17:30] TormodLandet commented on #56
No problem! Thanks for your work on this! Maybe you can add a link to the issue tracker on https://singularity-hub.org/about ?

[2017-03-20 17:30] #56 closed, assigned to nobody

[2017-03-20 17:41] vsoch commented on #56
you got it!

![image](https://cloud.githubusercontent.com/assets/814322/24113349/ea045f30-0d72-11e7-8314-1de5b00ee969.png)

[2017-03-31 23:11] vsoch opened #57 "update docs for 2.3"

[2017-04-10 01:03] vsoch opened #58 "add "fork me on github" ribbon"

[2017-04-10 21:48] vsoch opened #59 "when time is right (2.3 solid), update asciinemas"

[2017-04-12 20:16] ArangoGutierrez opened #61 "admin-guide could include a link to the builder repo"
# Proposal
in

Include a link to the builder repo
[https://github.com/singularityware/singularity-builder](url)

[2017-04-12 20:36] vsoch commented on #61
yes, great idea! As I mentioned in our discussion, we can add this when the builder repo has tests and complete documentation.

[2017-04-13 01:18] vsoch commented on #58
decided not to to this - the github link is sufficient, and it added too much extra ugly

[2017-04-13 01:18] #58 closed, assigned to nobody

[2017-04-13 01:18] vsoch opened #63 "add singularity-python docs and examples proper"
we should have an integrations / tools sections that has details for singularity hub and singularity python

[2017-04-13 16:35] ArangoGutierrez opened #64 "[development] make install fail when Installing openmpi"
[code]
before the docs steps
[code]

Following the steps on singularityware.github.io/pages/docs/admin-docs/docs-hpc.md
[code]
While in the ompi folder
[code]
Thougts?

[2017-04-13 19:03] gmkurtzer commented on #64
Oh..... hrmmm, that is failing probably because when you called it via `sudo` the underlying directory (cwd) was not automatically bound in properly. Try this instead:

[code]

If that works, will you update the documentation?

Thanks!

[2017-04-13 19:11] ArangoGutierrez commented on #64
[code]
worked.

Updating docs

[2017-04-13 19:25] ArangoGutierrez commented on #64
Closing issue after PR with changes

[2017-04-13 19:25] #64 closed, assigned to nobody

[2017-04-13 19:31] vsoch opened #66 "add page for adding content to container"

[2017-04-17 02:24] vsoch opened #68 "add copy paste to all code blocks"
a la https://clipboardjs.com/

[2017-04-17 02:24] vsoch commented on #63
I've started a branch that will add these docs with [singularity-python itself](https://github.com/vsoch/singularity-python/tree/update/2.3) to keep things tidy. Closing issue here.

[2017-04-17 02:24] #63 closed, assigned to vsoch

[2017-04-17 02:26] vsoch commented on #31
This is done, and added to 2.3, and will be pushed (and closed) with the 2.3 release milestone https://github.com/singularityware/singularityware.github.io/milestone/1

[2017-04-17 03:10] chrisgorgo commented on #31
Awesome! This will be so useful for new users. Do you have a link?

[2017-04-17 03:15] vsoch commented on #31
It's coming out in the Singularity paper proper, so I'd like to wait on sharing it until that, or when the docs are released, whichever comes first!.

[2017-06-01 00:47] vsoch commented on #57
just done.

[2017-06-01 00:47] #57 closed, assigned to nobody

[2017-06-01 00:47] vsoch commented on #6
okay I think this is been done, thanks @GodloveD , and thanks for all your help on the new docs! They look great!

[2017-06-01 00:47] #6 closed, assigned to nobody

[2017-06-01 00:48] vsoch commented on #59
@GodloveD so mastered this issue. Closing!

[2017-06-01 00:48] #59 closed, assigned to nobody

[2017-06-01 00:48] vsoch commented on #4
done!

[2017-06-01 00:48] #4 closed, assigned to nobody

[2017-06-01 00:49] vsoch commented on #31
hey @chrisfilo, wish granted! The figure included in our paper is now live with the 2.3 docs, front page. Closing issue!

[2017-06-01 00:49] #31 closed, assigned to nobody

[2017-06-01 00:49] vsoch commented on #31
and I'll put here, in case the site farts and dies someday:

![image](https://cloud.githubusercontent.com/assets/814322/26659936/a73b1b54-4642-11e7-824b-d91d1d6a6545.png)

because Github will live on :)

[2017-06-01 00:50] vsoch opened #82 "update vagrant box and docs for singularity 2.3"
hey @alaindomissy - 2.3 is released! Do you want to create the new bento box for it, and then I would be happy to test and update the docs? :bento:

[2017-06-01 00:52] chrisgorgo commented on #31
Thanks - looks great!

[2017-06-01 00:52] vsoch commented on #31
:grin:

[2017-06-01 01:08] GodloveD commented on #6
@vsoch You are being too kind.  I barely did anything.  I wish I could have freed up more time to do more.

If I am able to free up more time in the future, will you be opposed to editing the docs on the live page?

And another question, what do you think about keeping a complete set of docs for each version?  Sortof like the python docs?

[2017-06-01 01:54] vsoch commented on #6
Of course not! We should always update the docs to make them better, and now that 2.3 is released, as long as the update is relevant to 2.3 (and not a feature that isn't out yet) there is no reason that we can't update to (meaning PRs to) master.

Oh, I completely agree about keeping docs for each version - let me see if there is some way to make a branch for the old master and do that...

[2017-06-01 02:06] vsoch commented on #6
ok, done!

 - https://github.com/singularityware/singularityware.github.io/releases/tag/2.2
- https://github.com/singularityware/singularityware.github.io/releases/tag/2.3

[2017-06-01 02:28] GodloveD commented on #6
Rock on v!

On Wed, May 31, 2017 at 10:06 PM, Vanessa Sochat <notifications@github.com>
wrote:

[2017-06-01 14:02] alaindomissy commented on #82
I just did :-) Please test it and let me know. Thanks.
Also I made a PR as we were missing a "vagrant up" step

[2017-06-01 15:47] vsoch commented on #82
okay all tested, and updated! --> http://singularity.lbl.gov/install-mac Thanks for your speedy work!

[2017-06-01 15:47] #82 closed, assigned to nobody

[2017-06-05 22:28] vsoch opened #87 "add debian repo (with instructions) as an install option"
hey @yarikoptic if you are going to be maintaining https://anonscm.debian.org/gitweb/?p=collab-maint/singularity-container.git for each release, could you dump out some text here for how a "I've never done this before" user can use your resource to install Singularity? I'd like to add a page to the install docs on how to do this, because we have many docs for "how to roll your own" but I think it

[2017-06-06 00:32] yarikoptic commented on #87
In short I would say: singularity is available on Debian (and Ubuntu) systems starting with Debian stretch (and Ubuntu 16.10 yakkety) release as a package singularity-container. So you just need to `apt-get install singularity-container`. If you need a backport build of the recent release of singularity on those or older releases of Debian and Ubuntu, please enable NeuroDebian repository following

[2017-06-06 02:39] vsoch commented on #87
ok all set, thanks @yarikoptic !

http://singularity.lbl.gov/install-linux#debianubuntu-package

[2017-06-06 02:39] #87 closed, assigned to nobody

[2017-06-06 04:15] yarikoptic commented on #87
Cool
Spotted typo. continue worker

[2017-06-06 04:27] vsoch commented on #87
typo? What typo?   .... **whistles casually, kicks something under a rug, and strolls down the street for a coffee and pastry**

[2017-06-06 11:07] yarikoptic commented on #87
continue worker -> continue working

[2017-07-20 11:51] vsoch opened #91 "add example runscripts"
see https://github.com/singularityware/singularity/issues/815#issuecomment-316651869

[2017-07-26 03:27] vsoch opened #92 "add development section / 2.4 branch"
there is enough thinking / development going on to warrant a new section. @gmkurtzer should we have a section live on the site, or put again into some docs/2.4 branch? This (so far) will include checks, container instances, and apps.

[2017-07-26 18:50] gmkurtzer commented on #92
I think the branch is enough, but I'm open to a different section. another way to handle it is how RH deals with docs (Which is actually very good). They version their URLs/paths like:

https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/

And from that we know it applies to RHEL7. The RHEL6 guide is also live and available at the corresponding

[2017-07-26 19:54] vsoch commented on #92
okay, we will have a similar but simpler schema, an archive that has all docs of past:

 - http://singularity.lbl.gov/archive/

and then any particular version has format:

 - http://singularity.lbl.gov/archive/docs/v2-2
 - http://singularity.lbl.gov/archive/docs/v2-3

And they reference the branch and we will still link to the tags / branches. These serve as a quicker / nicer to look at way to fi

[2017-07-26 20:23] vsoch commented on #92
docs for 2.4 added, started so far are for checks and container instances:

https://github.com/singularityware/singularityware.github.io/tree/docs/2.4

[2017-07-26 20:23] #92 closed, assigned to nobody

[2017-07-27 15:10] gmkurtzer commented on #92
WAHOOO!

[2017-07-29 03:08] vsoch opened #93 "updates for 2.4 docs"
when the respective PRs are merged, we need docs for the following added or updated to the 2.4 branch:

- [x] image bootstrap: https://github.com/singularityware/singularity/pull/834 @GodloveD
- [x] image label-schema https://github.com/singularityware/singularity/pull/843 @vsoch
- [x] container instances / daemon: https://github.com/singularityware/singularity/pull/839 @bauerm97
- [x] sci-f / con

[2017-08-23 02:54] vsoch commented on #93
okey doke, looks like we are all done minus @bauerm97 daemon's! awesome work guys!

[2017-09-13 18:27] jjpr-mit opened #110 "exec in already-running container"
The [docs for `exec`](http://singularity.lbl.gov/docs-exec) say that unlike Docker's `exec`, Singularity's `exec` 'does not require a container to be "running" before using it.'  But there is no mention of how to use `exec` with a container that **is** already running.

In Docker, I can start a container in one terminal window, and then `exec` a command (like bash) in the same container from anoth

[2017-09-13 18:54] vsoch commented on #110
You are talking about container orchestration, which is not defined for current release of Singularity. You should look at commands for start and stop in the development branch. The next step would be to add orchestration to work with those.

[2017-09-15 12:49] jjpr-mit commented on #110
Okay, good to know.

So, just to confirm, in the current version, is there no way to have two shells into the same container at the same time?

[2017-09-15 12:54] vsoch commented on #110
Not easily, but this isn't something I've ever tried to do. You might be able to negotiate some hack of figuring out where the container is mounted, and then issuing commands to content there, bit Ibe never tried it.

[2017-09-15 12:55] vsoch commented on #110
Did you try development branch?

[2017-09-19 18:49] jjpr-mit commented on #110
I've installed from development commit [5c1d3f0](https://github.com/singularityware/singularity/commit/5c1d3f00982d49ef4de41d4c18be7365a88bc406).  I'm trying out `singularity instance list` and `singularity instance stop`.  `singularity instance list` produces no output but the column headers, even though I have a running container, and I can't use `singularity instance stop` without knowing the `

[2017-09-19 19:13] vsoch commented on #110
heyo! The list command only shows instances you have started and joined, not general containers. If you don't start any instances it will be empty. If you want more of a container manager, then you should check outSingularity Registey (it has a list to show containers)

[2017-09-19 21:02] vsoch commented on #110
If you are able to provide a list of commands that you are running, and the expected output, I can try to reproduce the error. I think if you have a running container and you want to exec to it, the uri to reference the container is `instance://` although I haven't tried this. If you don't see any instances running (and you did indeed start and join them) then we might have an issue. Anyway, if yo

[2017-09-26 12:48] jjpr-mit commented on #110
Unfortunately I probably won't be able to work on this for a few weeks.

[2017-10-02 04:15] vsoch commented on #110
hey @jjpr-mit ! We are getting ready for 2.4 release docs, any updates on your end?

[2017-10-02 04:16] vsoch commented on #93
note added items above @singularityware/singularity-admin. Please add to the list important things for the release of 2.4 docs.

[2017-10-02 18:43] vsoch commented on #93
@cclerget and @gmkurtzer I'd like to suggest you guys look over and tweak this page: https://github.com/singularityware/singularityware.github.io/blob/docs/2.4/pages/docs/admin-docs/docs-security.md

[2017-10-02 21:36] naterini opened #117 "Docker pulls don't work from non-tls protected docker registry"
We have a private registry that is setup with unencrypted http service:

nate@test:~> /ncar/opt/singularity/2.3.1/bin/singularity shell docker://test-registry/library/ubuntu:latest
ERROR Unrecognized authentication challenge, exiting.

nate@test:~> curl  http://docker-cache.ssg.ucar.edu/v2/; echo
{}

How do we set the full path for the url for the docker repo?

[2017-10-02 21:51] vsoch commented on #117
hey would you mind putting this on the main singularity repo? This repo is for the docs. I'm in meetings for a bit but will be able to help you later. Thanks!

[2017-10-02 21:55] naterini commented on #117
Found work around: export SINGULARITY_NOHTTPS=yes

Could that be added to the docs?

[2017-10-02 21:59] vsoch commented on #117
so glad that worked! It was added for this exact reason. I will definitely add better docs for it.

[2017-10-02 22:39] naterini commented on #117
Had to also upgrade to 2.3.2 to get it working which confused the issue.

Thanks
--Nate

[2017-10-03 02:46] vsoch opened #118 "Bring back the asciinema magic"

[2017-10-03 02:48] vsoch opened #119 "Add entire page for bootstrap environment options"

[2017-10-03 03:21] vsoch commented on #117
hey @nateucar ! This isn't merged, but I did the brunt of writing to add an entire page (linked from main build) about environment variables you can control for situations like these:

https://github.com/singularityware/singularityware.github.io/pull/115/files#diff-bef4ac71470261efb17dff4700013145

We should get this merged in and added to coincide with 2.4 release.

[2017-10-03 03:28] vsoch opened #120 "Give 2.4 build docs some love"

[2017-10-03 03:28] vsoch commented on #119
This will be closed with #115

[2017-10-03 12:36] jjpr-mit commented on #110
Sorry, I was offline for a few days.  I won't be able to try the dev branch until next week.

I think it would be sufficient to address this issue by changing

to something like

(Unless that's inaccurate.)

[2017-10-03 18:48] vsoch commented on #110
A way to think about it is that a Singularity image (when not running as an instance) works exactly as any executable script. Eg: in the same way I can do:

[code]
for my container I can do

[code]
Running that command does not create a new container "instance" in the way I think you are implying.  It executes akin to a script, and the process exits when it's done. We wouldn't want to say "Singula

[2017-10-05 10:38] GodloveD opened #122 "Order should be "Build an Image" "Container Recipes" "Singularity Flow" in the user guide"
I think it is probably a good idea that a user learns in the following order:

1. Build an Image (since the build command may or may not be used in conjunction with a Recipe)
2. Container Recipes (since that is like advanced usage for the build command)
3. Singularity Flow (since that is like best practices for using both the of the two above)

I tried rearranging the order in `_data/sidebars/user

[2017-10-05 15:48] vsoch commented on #122
you got it @GodloveD !

[2017-10-05 19:04] GodloveD commented on #122
Thanks!

[2017-10-05 19:04] #122 closed, assigned to vsoch

[2017-10-11 16:58] naterini commented on #117
Thanks!

[2017-10-11 16:58] #117 closed, assigned to nobody

[2017-10-12 20:07] GodloveD commented on #119
You did this right?

[2017-10-12 20:10] GodloveD commented on #120
https://www.youtube.com/watch?v=x0I6mhZ5wMw

[2017-10-12 20:10] #120 closed, assigned to GodloveD

[2017-10-12 22:14] vsoch commented on #120
SO MUCH LOVE!

[2017-10-12 22:15] vsoch commented on #119
Yep! This is the build-environment.md file with all the cache and Docker nonsense. Thanks for checking! (And I hope you are getting lots of satisfaction  with closing issues - you worked hard and deserve it! :D

[2017-10-12 22:15] #119 closed, assigned to nobody

[2017-10-12 22:59] olifre opened #137 "export commands still outdated"
The export commands (now named `image.export`) are still outdated.

For example, in:
http://singularity.lbl.gov/docs-export
I find that the recommended way to compress images would be:
[code]
Apart from the fact that "export" is not even a supported command anymore (and I think the Release Notes did not even mention the rename? That's ugly, that's a backwards incompatible change, please announce t

[2017-10-12 23:01] vsoch commented on #137
hey @olifre ! I updated the docs to specify image.export, and you are right about the larger file! I'll add a note that this command is typically intended for the older format.

[2017-10-12 23:04] vsoch commented on #137
Is this fix suitable? If you have a suggestion for a better description, definitely go for it!

http://singularity.lbl.gov/docs-export

[2017-10-12 23:07] olifre commented on #137
I believe it's good!
I think I would still change the last command, though, to read:
[code]
to clarify that the resulting file actually is a compressed tarball (maybe the drop the `.img` part also for that, but that's a matter of taste).

[2017-10-12 23:17] vsoch commented on #137
done! Should render in 30 seconds to a minute. Depending on if the Github robots are having an afternoon snack.

[2017-10-13 00:56] GodloveD commented on #119
Yes.  Closing issues is fun.  We have all worked hard.  Quick minute to catch our breath and then it's time to work hard again.  😺

[2017-10-13 16:14] vsoch commented on #137
@olifre if this looks ok now feel free to close the issue.

[2017-10-13 18:37] olifre commented on #137
Yep, let's close that :-)

[2017-10-13 18:37] #137 closed, assigned to nobody

[2017-10-17 18:47] GodloveD commented on #110
Heya @jjpr-mit.  I think that the thing you are missing is:
[code]
Try that and then see if you can exec the way you like. 😸

[2017-10-17 18:52] GodloveD opened #139 "Better MPI docs"
We need somebody with the following qualifications to write a general page detailing how to get started using MPI with Singularity:

1. Knows their way around MPI and Singularity.
2. Is half-way decent at writing technical docs.

It would be nice to have a page like this in the "Getting Started" section of the "User Documentation".

[2017-10-17 21:00] #110 closed, assigned to nobody

[2017-10-18 03:06] vsoch commented on #68
Looking for help on this! We would want to add some kind of ability, via Jekyll, to make a block of code copy pastable for the user.

[2017-10-18 03:06] #61 closed, assigned to nobody

[2017-10-18 03:06] #13 closed, assigned to nobody

[2017-10-18 03:07] #93 closed, assigned to vsoch, GodloveD, bauerm97

[2017-10-18 03:07] #118 closed, assigned to GodloveD

[2017-10-18 03:08] vsoch commented on #91
I am going to close this - it's probably best practice to keep the examples with the code base.

[2017-10-18 03:08] #91 closed, assigned to nobody

[2017-10-18 03:08] #17 closed, assigned to nobody

[2017-10-18 03:08] #66 closed, assigned to vsoch

[2017-10-18 13:54] jjpr-mit commented on #110
Thank you for your effort.  I've installed 2.4 and I'll try it out.

I should clarify that when I used the word "instance" it was not a reference to the new instance feature.  It was related to the act of running more than one container based on the same image.

[2017-10-18 17:29] vsoch opened #141 "Vagrant image for 2.4"
hey @alaindomissy do you have some bandwidth to update the Vagrant image for 2.4?

[2017-10-18 20:10] chrisgorgo opened #142 "Provide a template for "Dear admins - please install Singularity" email"
This idea was originally suggested by @KirstieJane who is struggling with this issue currently. Even though I personally got Singularity installed at all systems I needed it I know there are other users having difficult conversations with the admins of their systems (@danlurie) so I decided to act as a messenger.

The idea would be to provide an email template or talking points for users to use wh

[2017-10-18 20:34] danlurie commented on #142
+1

I’ve given up on getting Singularity running on our department cluster, but
this would have been very useful back when I still had hope. I’d be happy
to dig up the email I wrote to this effect.

Dan Lurie
@danjluriehttp://danlurie.org <http://www.danlurie.org/>

On October 18, 2017 at 1:10:56 PM, Chris Filo Gorgolewski (
notifications@github.com) wrote:

This idea was originally suggested by @

[2017-10-18 20:40] vsoch commented on #142
aw @danlurie that makes me so sad ;( Did you reach out to others for help?

Definitely if you have a draft it would be a good start. I might put too many ascii art if I come up with the first shot!

[2017-10-18 20:59] danlurie commented on #142
@vsoch I did. I coordinated a lot with @chrisfilo and @jbpoline, as well as consultants at Berkeley Research Computing. The main sticking point was that our departmental cluster admin didn't feel comfortable allowing SUID applications running as root, and felt that the risk of data loss was too high even given the widespread use of Singularity of much larger systems. One thing to mention is that o

[2017-10-21 21:41] vsoch commented on #142
hey @danlurie @chrisfilo !

This will definitely need the additions of @gmkurtzer @GodloveD , but I got us started on a general "guide" for those interested in asking for an installation:

http://singularity.lbl.gov/install-request

It's really just a condensed list of common resources, and a starting template email. I had started writing a section of question --> answers, but realized there would

[2017-10-27 14:43] dtrudg opened #144 "Archive docs links point to current version pages"
If I am looking at archive docs for 2.3, e.g:

http://singularity.lbl.gov/archive/docs/v2-3/user-guide

Then the links on that page point at the current version (2.4) docs, e.g. the Examples->run link on the 2.3 docs is pointing to....

http://singularity.lbl.gov/docs-run

This just made my head hurt a bit, but will catch out users of older versions if things have changes 2.3 -> 2.4

[2017-10-27 14:47] vsoch commented on #144
yes that's a good point, unfortunately it means hard coded paths (e.g., `<a href="/docs-run">Run</a>`. I think we can do work to fix this in future versions, but probably it would be very tenuous to go back and try to manually fix.

[2017-10-27 14:49] vsoch commented on #142
@gmkurtzer @danlurie @chrisfilo would you please review the template and provide feedback? When it meets your approval we can close this issue. Thanks!

[2017-11-03 15:57] KirstieJane commented on #142
Hi @vsoch THANK YOU FOR THIS FANTASTIC RESOURCE!!

(and thank you so much @chrisfilo for passing on my request and @danlurie for providing your great feedback on this issue!)

Your page and the template email are absolutely spectacular - it's absolutely everything I was hoping for!

Maybe before we close the issue, I could send it to our systems administrator and see what happens? We aren't going

[2017-11-03 15:58] vsoch commented on #142
Sounds good to me!

[2017-11-03 15:59] gmkurtzer commented on #142
Just have to say....

I seriously, absolutely, completely, love this idea!

[2017-11-03 16:02] KirstieJane commented on #142
@vsoch - email sent. It's 4pm on Friday so probably no reply until early next week (sorry I'm so behind with my emails!!) I'll update as soon as I hear anything :smile:

[2017-11-03 16:17] gmkurtzer commented on #142
Can't wait to hear how it goes @KirstieJane!

This is probably already on @vsoch's todo list, but I'd love to have this page linked in from our "How to install Singularity" pages, and also FAQ.

Thanks!

[2017-11-03 16:26] vsoch commented on #142
I don't keep "todo" lists @gmkurtzer :)

[2017-11-03 16:26] vsoch commented on #142
I just DO.

[2017-11-03 16:30] GodloveD commented on #142
![1200px-logo_nike svg](https://user-images.githubusercontent.com/7672924/32384876-ac6c0140-c092-11e7-9edf-1b0c47ff6674.png)
@vsoch's corporate sponsor.

[2017-11-03 16:37] vsoch commented on #142
almost! More like:

![image](https://user-images.githubusercontent.com/814322/32385198-93000106-c07a-11e7-92db-398e2e871a34.png)

[2017-11-03 16:40] GodloveD commented on #142
Just do _odle_ it!

[2017-11-03 16:40] KirstieJane commented on #142
We could add the link to this sentence in the Quick Start guide:

to

[2017-11-03 17:42] vsoch commented on #142
Did somebody day dooooonut it?
🍩🍩🍩🍩🍩
Yes please!

[2017-11-03 17:46] KirstieJane commented on #142
I’m on the train home and heading for a fireworks display 🎇🎆🌠🎆🎇, but I’ll put in a pull request on Monday. Thanks again :sparkles:

[2017-11-03 18:07] vsoch commented on #142
Ok! I've made the changes that you suggested, and it would be great to get feedback and tweaks when you chat with your group. Have fun at the fireworks!

[2017-11-10 08:49] KirstieJane commented on #142
Hi - just a quick update. The Cambridge sysadmin (Stuart R) has already installed singularity on one of our high performance computing clusters, but we're waiting on authorisation from the person in charge of our neuroimaging server. I've sent Stuart a link to this thread to see if he has any comments, but basically this is a "there's no update" update because we haven't heard anything back form t

[2018-01-05 13:09] nielsaka opened #160 "NeuroDebian: port 80 won't work"
Fyi, following the instructions in [pages/docs/install/install-linux.md](https://github.com/singularityware/singularityware.github.io/blob/master/pages/docs/install/install-linux.md) when I set up the NeuroDebian repository and try to contact the keyserver, port 80 will not work for me.

So maybe
[code]

instead of

[code]
or mention it as a sidenote?

[2018-01-05 13:13] nielsaka opened #161 "Reboot after uninstall?"
Another minor thing, I had to reboot after uninstalling an old version of singularity and installing again from a repository.

https://github.com/singularityware/singularityware.github.io/blob/master/pages/docs/user-docs/docs-installation.md#remove-an-old-version

[2018-01-31 21:27] johnbradley opened #166 "squashfs-tools installation requirement"
I do not see any documentation about needing squashfs-tools in the installation instructions http://singularity.lbl.gov/install-linux. It would be nice to mention this even if it is an optional module.
There is an error raised if squashfs-tools isn't installed and you attempt to pull a docker image: https://github.com/singularityware/singularity/issues/1078

Thanks.

[2018-01-31 21:39] vsoch commented on #166
We could definitely add that! I think my worry is that the list of actual dependencies would get out of sync with the documentation (this seems to always happen) but do you think it's worth it anyway? If the admin / user is going to install, arguably he/she will hit the missing dependencies during configuration. Do you think it's better to read/see the list in advance? If so we can definitely add

[2018-02-01 14:33] johnbradley commented on #166
Thanks for the quick reply @vsoch.

I agree that an outdated list of requirements wouldn't be helpful. I was upgrading from 2.3.1 to 2.4.2 and didn't know this was a new requirement. The configure/make/make install process didn't error. I did some brief testing and everything seemed to be working fine until I tried the `pull` command against dockerhub. Had I not tried this particular command/argum

[2018-02-01 17:19] vsoch commented on #166
I think probably we should open an issue with the install itself, I'm thinking what happens for (most of the world) that doesn't read docs and hits the same issue still? I can write this up and ping you!

[2018-02-01 18:04] vsoch commented on #166
hey @johnbradley I added a note here http://singularity.lbl.gov/install-linux and also to the admin docs, does this address your issue?

[2018-02-01 18:46] johnbradley commented on #166
Thanks @vsoch. This resolves my issue.

[2018-02-01 18:46] #166 closed, assigned to nobody

[2018-02-13 15:26] jakirkham opened #168 "Document configure options"
Would be nice if there was a doc page laying out the `./configure` options and implications of different choices for the build.

[2018-02-13 20:07] 0xaf1f opened #169 "build-localimage should document minimum version to produce compatible base image"
It appears that a container built with singularity 2.1.2 does not serve as a proper base image to build a new container with 2.4.2 since the environment is subsequently gone.

The page at http://singularity.lbl.gov/build-localimage should probably mention this, but it would be even better if singularity could properly support building off old containers.

[2018-02-14 16:21] jbd opened #170 "%files section executed before %post ?"
Hello,

the documentation (http://singularity.lbl.gov/docs-recipes#files) says:

With that in mind, I was thinking that this recipe would have work:

[code]
[code]
[code]

Apparently, the files section is executed before the post section:

`/bin/cp: cannot create regular file '/usr/local/var/singularity/mnt/container//test/input': No such file or directory`

This recipe is working:
[code]

Maybe I

[2018-02-14 16:26] vsoch commented on #170
I think this is a bug - we used to have files copied after, and now it's before.

[2018-02-14 16:39] vsoch commented on #170
hey @jbd I just edited the page - take a look and let me know if everything looks ok.

[2018-02-15 23:31] chrisreidy opened #176 "Trying to create image from Nvidia registry with token"
Nvidia provides Docker images of ML code.  My recipe is:

Bootstrap: docker
From: nvcr.io/nvidia/tensorflow:18.01-py3
Registry: nvcr.io
IncludeCmd: yes
Username: $oauthtoken
Password: APIkeyinsertedhere
mkdir /extra
mkdir /xdisk

And I get this:
singularity build ngc.tensorflow.18-01-py2.img ngctest
Using container recipe deffile: ngctest
Sanitizing environment
Adding base Singularity environment

[2018-02-15 23:47] vsoch commented on #176
First, export the credentials to the environment
[code]
many times the issue is the missing tag, for example, in the above it would default to latest (and minimally we should check if that exists). Then to start even more simply, let's just get a pull working. The branch that you have to use (not merged) is this one to use the nvidia cloud:

https://github.com/singularityware/singularity/pull/1184

[2018-02-16 00:26] chrisreidy commented on #176
Thanks for the super prompt reply Vanessa.  I will try that

[2018-02-16 23:08] chrisreidy commented on #176
I tried going through #1184 without much luck.
Using sregistry was the answer:
log in as user
module load python/2
module load singularity
export SREGISTRY_NVIDIA_TOKEN="apitokenhere"
sregistry pull nvidia://pytorch:18.01-py3
...
Success /home/...nvidia-pytorch:18.01-py3.simg

Thank you

[2018-02-16 23:08] #176 closed, assigned to nobody

[2018-02-16 23:12] vsoch commented on #176
Great! Note that the environment (e.g., changes to path) I don't think are working yet, I can't get my token working to figure out the right call to get the manifest. Hopefully they will have better docs for their API soon  (they are pretty... missing... lol). As a workaround you can make a build recipe with those variables defined, or just define at runtime.

[2018-02-16 23:19] chrisreidy commented on #176
@vsoch Do you have a sample recipe for one of their Docker images per chance?  Would I need to remake Singularity with the jtriley:nvcr-io-registry-fixes?  I had trouble with that

[2018-02-16 23:54] vsoch commented on #176
Yep, you would need to install Singularity with that branch, meaning cloning it, and then doing the whole routine. I tried to do that to peek at how the headers were being handled, but I never get past my token being denied. I don't have an example recipe, but I'd be glad to help you if you have an image in mind. The biggest issue is that there isn't a nice place where all this is shared.

[2018-02-17 01:25] chrisreidy commented on #176
Ok - that makes sense.  I will first play with what I created using sregistry and see how that works.  Enjoy your weekend

[2018-02-20 22:07] chrisreidy commented on #176
@vsoch I seem to have got to the point where running the container is the issue.  I have created singularity images two ways:
1. sregistry pull nvidia://tensorflow:18.01-py3
and run it with:
singularity exec nvidia-tensorflow:18.01-py3.simg python ~/.singularity/shub/TFlow_example.py

2. Build singularity from jtriley with the nvcr fixes.
then build container:
singularity build ngc.tensorflow.18-0

[2018-02-20 22:33] vsoch commented on #176
Did you try with the `--nv` flag?

[2018-02-20 22:36] vsoch commented on #176
so like
[code]

[2018-02-20 22:37] vsoch commented on #176
I don't have any of those drivers so I can't test on my local machine, I get the same error!

[2018-02-20 22:42] vsoch commented on #176
Don't give up @chrisreidy !! These are just stupid containers. With enough eyes.... all bugs are cute and squishy and you come to wave when you see them again!

[2018-02-21 16:57] chrisreidy commented on #176
And sometime edible if you are so inclined!
Inserting --nv was the trick.  Thanks
So the container pulled with sregistry was not created with a recipe so I do not have any custom bind points, and I have to use a default file path.
The container pulled from the singularity that I made from "jtriley/singularity"  has to use the same singularity for execution so I cannot use that unless I install it

[2018-02-21 17:15] vsoch commented on #176
So why not bootstrap that nvidia container (the base for your jtriley) and make the bind points, then just pull it?

[2018-02-21 17:34] chrisreidy commented on #176
Intriguing.  Could you provide a little more detail please?  I am not a singularity wizard.

[2018-02-21 17:44] vsoch commented on #176
Just make the nvidia container your base when you build. This is in your Singularity recipe file:

[code]
You can add / customize whatever about the nvidia container that you need. If you want to test editing the container, pull a writable one  (on your local machine).

[code]
The top builds ext3, the bottom is a sandbox (folder). Then you can shell in with `--writable` and test actually running a

[2018-02-21 17:48] chrisreidy commented on #176
Thank you.  I will try that out

[2018-02-21 19:47] chrisreidy commented on #176
@vsoch The container I built from the jtriley singularity was made with a recipe similar to above and it works fine, but only if it runs using the jtriley version of singularity.
The one I would like to modify binding on is the one I obtained by "sregistry pull nvidia-tensorflow:18.01-py3.
Or, update our main singularity module if the nvcr-io-registry-fixes is included
(sorry for slow replies - I

[2018-02-21 19:50] vsoch commented on #176
Oh yes you can do that too! Instead of a docker bootstrap do localimage and then provide the path of the image file (in the recipe).

[2018-02-21 19:54] chrisreidy commented on #176
I have never tried that - it makes sense conceptually.  I will try it after my upcoming meeting
I keep bugging you - still soft and squishy hopefully (see earlier post :-) )
Thanks

[2018-02-21 20:21] vsoch commented on #176
Here are the sparse docs for it, it should work I hope! http://singularity.lbl.gov/build-localimage

[2018-02-22 00:13] chrisreidy commented on #176
@vsoch I made a new image but get the same result using this recipe:
Bootstrap: localimage
From: /home/u13/chrisreidy/.singularity/shub/nvidia-tensorflow:18.01-py3.simg

mkdir /extra
mkdir /xdisk

Which worked on the container that I created from sregistry:
singularity build nvidia-tensorflow.simg localtest
...
Building Singularity image...
Singularity container built: nvidia-tensorflow.simg
Clean

[2018-02-22 00:26] vsoch commented on #176
Can you show me the full recipe?

[2018-02-22 00:36] chrisreidy commented on #176
Um well, this is it:
Bootstrap: localimage
From: /home/u13/chrisreidy/.singularity/shub/nvidia-tensorflow:18.01-py3.simg

mkdir /extra
mkdir /xdisk

I modified this one which seemed to work:
Bootstrap: docker
From: nvcr.io/nvidia/tensorflow:18.01-py3
Registry: nvcr.io
IncludeCmd: yes

mkdir /extra
mkdir /xdisk

[2018-02-22 00:56] vsoch commented on #176
ah! Try this:

[code]

[2018-02-22 04:26] chrisreidy commented on #176
Oh.  I got lazy.  Check this out:

singularity exec --nv nvidia-tensorflow.simg python TFlow_example.py
which: no nvidia-smi in (/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin)
WARNING: Could not find the Nvidia SMI binary to bind into container
WARNING:tensorflow:From /usr/local/lib/python3.5/dist-packages/tensorflow/python/util/tf_should_use.py:107: initialize_all_variables (from t

[2018-02-22 04:27] vsoch commented on #176
🤗

[2018-04-10 14:36] cschroedl-gov opened #183 "Nonsense / typo on the "About" page"
The string "Ascineimsasasessssss" appears on the About page, right above the [Portability and Reproducibility section](https://singularity.lbl.gov/about#portability-and-reproducibility). There are no Google results for this term. Should it be modified? Removed?

[2018-04-11 20:44] #183 closed, assigned to nobody

[2018-05-09 03:14] Jia94 opened #192 "question about Singularity bootstap from docker"
Excuse me !
There is a docker image that built on my own,so if I want to creat one Sinualrity image based upon this docker image ，do I have to pull the docker image to Docker Hub? and then how I write the section of "From"?

[2018-05-09 03:21] vsoch commented on #192
The easiest thing is to:

 1. Get the image on Docker Hub. You can do that with [push](https://docs.docker.com/engine/reference/commandline/push/) or an [automated build](https://docs.docker.com/docker-hub/builds/) from a Github repository.  I like the second because I can just put my Dockerfile on Github, and it will build for me when I push commits :)
 2. Once the image is done building (green s

[2018-05-09 15:42] 0xaf1f opened #193 "docker best practices"
http://singularity.lbl.gov/docs-docker#best-practices lists some guidelines for building docker images that will convert nicely into singularity images. There is also some information over at https://github.com/singularityware/docker2singularity#tips-for-making-docker-images-compatible-with-singularity. Maybe it'd be a good idea for the additional points from there to be added to the documentation

[2018-06-29 18:14] jekriske-lilly opened #197 "applabels"
In https://github.com/singularityware/singularityware.github.io/blob/master/pages/docs/user-docs/docs-recipes.md

[code]

That export line doesn't make sense given the nature of %applabels.

[2018-08-02 00:55] KirstieJane commented on #142
So sorry to not report back to this issue in so long!

The letter is great (I've just recommended it in a workshop that @chrisfilo is leading!) and it worked for us!

I see it here (https://singularity.lbl.gov/install-request), but I can't see it on the new website? Let me know if there's anything I can do to help move it over (or maybe it's been dropped for a reason?)

[2018-09-04 20:05] GodloveD opened #201 "Merge singularity-userdocs into this repo"
@devprincess at some point it would be really good if all of the singularity-userdocs changes could be merged back into this repo so that we do not loose commit history and issues and such.  That way everyone's contributions can still be seen.

[2018-09-04 20:06] GodloveD opened #202 "Missing link in 2.5 & 2.6 user documentation"
Just linking this issue here in the docs section so that it will be seen.

@devprincess

https://github.com/singularityware/singularity/issues/1919

[2018-09-05 06:49] jscook2345 commented on #202
I fixed this in the singularity-userdocs repo.

https://github.com/singularityware/singularity-userdocs/pulls

[2018-09-05 11:52] jchavezlavalle commented on #202
@GodloveD @jscook2345 thanks guys, this change has been merged :tada:

[2018-09-06 20:29] #202 closed, assigned to nobody

[2018-09-26 18:33] mofarehghazwani opened #203 "singularity definition file for local image"
I would like to make singularity image (singularity container) from local image. the image will be  built using ubuntu-10.10.
the problem is that when every I make the Singularity file with the correct Path, I got this error Path Does not exist.
if any one know how to get this issue fixed, or know that ubuntu-10.10 does exist in Shub, or Docker image or container, please direct me to that.

Thank

[2018-11-17 02:14] #203 closed, assigned to nobody

[2019-01-24 17:38] lsx1980 opened #204 "building singularity container for HPC"
we are trying to build singularity container image for running visualSFM on our university cluster.

Our cluster required using CPU to perform every step.

So we use vlfeat and set nv.ini file for CPU option.

Our input image format was jpg.

However, the singularity container image works only for smaller image size, for example 1024*768, does not work for image size above 2048*1024.

We trace the

[2020-08-03 17:14] sudughonge opened #205 "Running container with writable setting"
I work with docker containers which I run using `docker run --env-file <envfile> <docker image name>`. The docker container thus instantiation is thus setup to then launch from an entrypoint of `/workdir` and launch certain python script that's already inside that `/workdir` inside the docker file system.

I'm trying to replicate the behavior using that same docker image only with singularity (ver

[2020-08-03 17:24] vsoch commented on #205
Hey @sudughonge ! This repository (and actually organization) isn't maintained anymore - so for future help you can post to the Singularity Google Group (singularity@lbl.gov) or the software repository at https://github.com/hpcng/singularity/issues/.

For a quick answer, I would try using `--pwd` to set the present working directory for the container. It sounds like your python script is needing t

[2020-08-19 16:13] sapetnioc opened #206 "Files copied with %file are not seen by %post under Windows + WSL2 + Ubuntu"
I am trying to use Singularity (3.6.1+21-g0441c656a-dirty) under Windows with Ubuntu 18.04 and a fresh update providing WSL2 (a true Linux kernel in Windows 10). I was pleased to see that using images worked for me. (this was not the case with WSL1). But I got an error for image creation if I try to use files copied by `%file` in a `%post` section. I did the following :

[code]

With the following

[2020-08-19 16:18] vsoch commented on #206
hey @sapetnioc you would want to post issues to https://github.com/hpcng/singularity/issues - this is the web documentation for container tools (Singularity Hub, Registry, etc.). I can't transfer the issue because it's a different org, otherwise I'd do that for you. But one thing to try - since you are listing in $SINGULARITY_CONTAINER/tmp why not just chmod there? It does seem like a bug though,

[2020-08-19 16:18] #206 closed, assigned to nobody

[2020-08-19 16:31] sapetnioc commented on #206
I will post the issue where it is supposed to go. Sorry.

Yes I can find a workaround but I noticed that in Linux, there is no `SINGULARITY_CONTAINER` variable but `SINGULARITY_ROOTFS` instead. But I realize that I do not have the same Singularity version on Linux (3.5.3). I should have checked that before saying it works on Linux.

[2020-08-19 17:43] vsoch commented on #206
If I remember correctly, in %post you shouldn't need to use SINGULARITY_CONTAINER or SINGULARITY_ROOTFS - it's only in setup. But one other detail - during build your container will bind your /tmp, so if you copy something to there isn't probably not going to persist. Maybe try somewhere else instead? This seems to work:

[code]

[code]
Most users won't use `--containall` to even if you had conten

[2020-08-20 06:49] sapetnioc commented on #206
I may have been lazy but I did not find information about `/tmp` in the doc. I only searched `tmp` and `temp` in the recipe file page. This may be a good idea to add a warning there.

Thank you for your answers, this was very helpful.

[2020-11-02 11:15] dioguerra opened #207 "Error pushing container to Harbor repo with OIDC SSO auth"
Hello!

I am having some problems pushing a container from singularity to my Harbor registry. At this time i think the problem is in the Headers being droped by my nginx reverse-proxy.

Although i suspect this, i can't validate for sure because if i try locally, i have no info on any Headers passed by Singularity, and documentation online is scarce.

**My SetUp**
I Have a kubernetes cluster runnin

[2020-11-02 11:25] dioguerra commented on #207
Track from Harbor: https://github.com/goharbor/harbor/issues/13420

[2020-11-02 16:42] vsoch commented on #207
hey @MrD2 ! This looks like an issue with Singularity not being compliant for the OCI distribution spec, and this is indeed true. The repository here is no longer maintained - it's the old documentation site for Singularity containers, which eventually was ported to the sylabs organization, and then hpcng. You should likely close the issue here and open it up at https://github.com/hpcng/singularit

[2020-11-04 11:28] dioguerra commented on #207
Closing this in favor of: https://github.com/hpcng/singularity/issues/5691

[2020-11-04 11:28] #207 closed, assigned to nobody

[2020-11-04 14:40] dtrudg commented on #207
This is not the case. Singularity includes functionality for pushing to OCI registries that implement ORAS, and we routinely test this against `docker/registry` and know it to work against Azure Container Registry. Singularity requires a target registry to support ORAS and accept the singularity media types. ORAS is a young protocol, and our code is not heavily used yet, so we can expect some issu

[2021-04-16 20:09] bobhenkel opened #209 "Run Sound App in Singularity"
Hello,

I come from a docker background and I'm just testing things out. Is there a way to launch a container with Singularity and allow it to produce sound. I have a container so far that can run Firefox, but sound doesn't come out if I have youtube playing.  For example I believe on docker you can pass --device /dev/snd (Add a host device to the container).   Here is my Singularity file
[code]
H

[2021-04-16 20:19] bobhenkel commented on #209
Looks like there's a different github org to post issues too. Anyways I figured it out.
This works, why I can't tell you as I have no idea.
[code]

[2021-04-16 20:19] #209 closed, assigned to nobody